@import "./variable.scss";
@import "./global.scss";
@import "./partials/button";
@import "./partials/forms";
@import "./partials/section_1";

@font-face {
  font-family: Raleway;
  src: url(./Raleway/);
}

body {
  background-color: whitesmoke;
  color: rgb(70, 69, 68);
  font-family: Raleway;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-weight: 400;
  letter-spacing: 4px;
}
h3 {
  font-weight: normal;
  color: whitesmoke;
}

p {
  font-size: 40px;
  font-weight: 400;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 450px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  margin-top: 30px;
  background-image: url("/src/media/single_dollar.jpg");
  background-size: cover;
  background-position: bottom;
}

.money {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 700px;
  letter-spacing: 1px;
  margin-top: 170px;
  margin-bottom: 100px;
}

.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 71, 61);
  opacity: 90%;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: white;
}

.moneyInput {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 600px;
}

.listcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  letter-spacing: 1px;
  list-style: none;
}

.spending-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  max-width: 700px;
  text-align: left;
  padding: 20px;
  color: rgb(68, 68, 68);
}

.spending-list ul {
  display: inline-block;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.spending-list h3 {
  color: rgb(68, 68, 68);
  font-weight: 600;
}

.fa-trash-alt {
  font-size: 11px;
}
.fa-trash-alt:hover {
  color: goldenrod;
}
