form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  margin-top: 50px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 71, 61);
  opacity: 90%;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: white;
}

input::placeholder {
  color: whitesmoke;
}
