@font-face {
  font-family: Raleway;
  src: url(static/Raleway);
}

body {
  background-color: whitesmoke;
  color: rgb(70, 69, 68);
  font-family: Raleway;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-weight: 400;
  letter-spacing: 4px;
}
h3 {
  font-weight: normal;
  color: whitesmoke;
}

p {
  font-size: 40px;
  font-weight: 400;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  margin-top: 30px;
  background-image: url("media/single_dollar.jpg");
  background-size: cover;
  background-position: center;
}

.money {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 700px;
  letter-spacing: 1px;
}

.moneyin,
.moneyout {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 700px;
}

.listcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  letter-spacing: 1px;
}

.spending-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  max-width: 700px;
  text-align: left;
  padding: 20px;
  color: rgb(68, 68, 68);
}

.spending-list ul {
  display: inline-block;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.spending-list h3 {
  color: rgb(68, 68, 68);
  font-weight: 600;
}

ul {
  list-style: none;
}
.fa-trash-alt {
  font-size: 11px;
}
.fa-trash-alt:hover {
  color: goldenrod;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  margin-top: 50px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 71, 61);
  opacity: 90%;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: white;
}

input::placeholder {
  color: whitesmoke;
}

button {
  background-color: rgb(64, 71, 61);
  opacity: 90%;
  color: whitesmoke;
  border: none;
  width: 120px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 100%;
}
